body {
    margin: 0px;
}

header {
    background-color: #a0bbcf;
    text-align: center;
    padding: 10px;
    height: 50px;
}

header>h1 {
    margin: 0px;
    font-size: 2.5em;
    font-family: Lato;
}

nav {
    text-align: center;
    background-color: #eff5fa;
    padding: 10px;
}

nav>a {
    transition: background-color 1s;
    transition: color 1s;
    background-color: #eff5fa;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    color: #121212;
    text-decoration: none;
    font-family: Lato;
    vertical-align: middle;
}

@media screen and (max-width: 1500px) {
    nav>a {
        display:block;
        font-size: 1.6em;
    }
}

@media screen and (min-width: 1500px) {
    nav {
        height: 25px;
    }
    header {
        height: 50px;
    }
    html,body {
        height: 100%;
    }
    main {
        min-height: calc(90% - 75px);
    }
}

@media print {
    body {
        margin: 0;
        color: #000;
        background-color: #fff;
    }
}

nav>a:hover {
    color: #5555aa;
    background-color: white;
}

#despre_main {
    padding: 10px;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 50%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

footer {
    background-color: #a0bbcf;
    position: relative;
    bottom: 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-family: "Arvo";
    height: 20px;
}

p {
    font-family: "Arvo";
}

p>a {
    text-decoration: none;
    color: #3333aa;
}

p.descriere {
    margin-left: 10px;
}

fieldset {
    background-color: #eff5fa;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #a0bbcf;
}

.entry {
    padding: 5px;
    margin: 5px;
}

legend {
    font-size: 1.4em;
    font-family: Lato;
    background: #a0bbcf;
    padding: 10px;
    border-radius: 5px;
}

.entry>label {
    width: 200px;
    display: inline-block;
}

#selected_page {
    text-decoration: underline;
    color: #888888;
}

#register_button {
    padding: 10px;
    margin: 10px;
    font-size: 1.0em;
    border-radius: 5px;
    background: #a0bbcf;
    color: #ffffff;
    border: 0px;
}

#register_button[disabled] {
    background: #aaaaaa;
}

.entry>input {
    border: 1px solid #a0bbcf;
}

input[type=text], input[type=password], input[type=url], input[list] {
    padding: 5px;
    border-radius: 5px;
}

.info-name {
    font-weight: bold;
}

.section-div {
    margin-top: 20px;
    background-color: #eff5fa;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
	flex: 1 0 90%;
}

.section-div>h2 {
    margin-left: 10px;
    font-size: 2.0em;
    font-family: Lato;
}

.info-entry {
    margin:10px;
}

#loto-numbers-input,#loto-numbers-div {
    margin: 10px;
}

#loto-extract-button {
    margin-top: 5px;
    padding: 5px;
    font-size: large;
    background-color: #66aa63;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #44aa44;
    transition: background-color 1s; 
    transition: box-shadow 1s; 
}

#loto-extract-button:hover {
    background-color: #66cc66;
    box-shadow: 1px 1px 2px 2px #88ff88; 
}

#loto-response-text {
    font-size: 1.3em;
    padding: 10px;
    width: 300px;
    margin: 5px;
    border-radius: 5px;
}

.fade-in {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

table {
    margin: 5px;
    border-collapse: collapse;
}

table td {
    border: 2px solid black;
    padding: 5px;
}

#persons-table th {
    border: 2px solid black;
    padding: 5px;
}

#despre_tabel tr:first-child {
    background-color: #B8B8B8;
}
#despre_tabel tr {
    transform: skewY(-1deg);
}

#despre_tabel td::first-letter {
    color: red;
}

#video-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#video-box iframe {
    min-height: 200px;
    margin: 20px;
}

#drawing-canvas {
    margin: 20px;
}

#section-container {
    display: flex;
	flex-wrap: wrap;
}

aside {
	text-align: center;
}

aside button {
	padding: 10px;
	margin: 20px;
	margin-bottom: 10px;
	font-size: 1.5em;
	border-radius: 5px;
}

